<template name="loginMenuItems">
    {{>loginButtons}}
</template>

<template name="MasterLayout">

    {{>Sidebar}}
    <!-- Page Contents -->
    <div class="pusher">
        {{>Header}}

        <div class="ui vertical">
            <div class="hero">
                <div class="center-area">
                    <div class="centered">
                        <div class="hero-brand">
                            <span class="hero-prefix">JavaScript</span>
                            <span class="hero-center">NZ</span>
                            <span class="hero-postfix">Inc.</span>
                        </div>
                        <div class="hero-blurb">
                            Promoting JavaScript in New Zealand
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical stripe segment">
            {{> yield}}
        </div>

        <div class="ui inverted vertical footer segment">
            {{>Footer}}
        </div>
    </div>
</template>
