<template name="loginMenuItems">
    {{>loginButtons}}
</template>

<template name="MasterLayout">

    {{>Sidebar}}
    <!-- Page Contents -->
    <div class="pusher">
        {{>Header}}

        <div id="master_content">
            <div class="ui vertical">
                <div class="hero">
                    <div class="center-area">
                        <div class="centered">
                            <div class="hero-brand">
                                <span class="hero-prefix">JAVASCRIPT NZ Inc</span>
                            </div>
                            <div class="hero-blurb">
                                Promoting JavaScript in New Zealand
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical stripe segment">
                {{> yield}}
            </div>

        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="/becoming-a-member" class="item">Membership</a>
                            <a href="/the-committee" class="item">Committee</a>
                            <a href="/the-society-rules" class="item">Rules</a>
                            <a href="/code-of-conduct" class="item">Code of Conduct</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Links</h4>
                        <div class="ui inverted link list">
                            <a href="https://javascriptnewzealand.slack.com/" class="item">Slack</a>
                            <a href="https://github.com/JavaScript-NZ" class="item">Github</a>
                            <a href="https://plus.google.com/111361859158002941418" class="item">Google+</a>
                            <a href="https://groups.google.com/d/msgid/javascript-new-zealand/" class="item">Mailing List</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">JavaScript NZ Incorporated</h4>
                        <p>society@javascript.org.nz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
