<template name="Footer">
    <div class="ui center aligned container">
        <div class="ui inverted small link list">
            <div class="item">
                Copyright © 2014 JavaScript NZ Incorporated.
            </div>
            <div class="item">
                Header image based on “<a href="https://www.flickr.com/photos/jeffpang/5642694348/">Rotura</a>” by <a
                    href="https://www.flickr.com/photos/jeffpang/">Jeff P</a> / <a
                    href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.
            </div>
            <div class="item">
                Powered by <a href="https://www.meteor.com/">Meteor</a>. Source available on <a
                    href="https://github.com/JavaScript-NZ/javascript.org.nz">GitHub</a>.
            </div>

        </div>
    </div>
</template>
