<template name="PhotoList">
    <div class="ui photo-list three doubling link cards container">
        {{#each photos}}
            <a class="ui card" href="{{pathFor route='photo.show'}}">
                <div class="image">
                    <img src="{{c.url public_id width=250 height=250 crop="fill"}}">
                </div>
                <div class="content">
                    <div class="header">{{title}}</div>
                    <div class="meta">
                        <span class="author">{{usernameFromId createdBy}}</span>
                    </div>
                    <div class="description">
                        {{{preview body}}}
                    </div>
                    <div class="extra content">
                        <span class="right floated">{{moment createdAt}}</span>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</template>
