/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

#iron-router-progress {
  background-color: #f0db4f;
  box-shadow: 0 0 5px #f0db4f;
}

#iron-router-progress.spinner:before {
  border-color: #f0db4f;
}

.item {
  .logo {
    width: 48px;
    height: 48px;
    background-image: url("/images/logo-48.png");
  }
}

.hero {
  position: relative;
  z-index: 20;

  height: 319px;
  background: url("/images/splash-1024.jpg") no-repeat scroll center center / cover #333;

  @media (min-width: 1025px) {
    height: 370px;
    background-image: url('/images/splash-1440.jpg');
  }

  @media (min-width: 1441px) {
    height: 430px;
    background-image: url('/images/splash-1920.jpg');
  }

  @media (min-width: 1920px) {
    height: 500px;
    background-image: url('/images/splash-2560.jpg');
  }

  text-align: center;
  color: #FAFAFA;

  .center-area {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .center-area:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
    .hero-blurb {
      font-size: 2em;
      padding-top: 1.5em;
      @media (max-width: 840px) {
        font-size: 1.5em;
      }
    }
    .hero-brand {
      //padding-top: 2em;
      .hero-prefix {
        font-size: 5em;
        @media (max-width: 840px) {
          font-size: 3em;
        }
      }

      .hero-center {
        font-size: 9em;
        @media (max-width: 840px) {
          font-size: 3em;
        }
      }

      .hero-postfix {
        font-size: 2em;
        @media (max-width: 840px) {
          font-size: 2em;
        }
      }
    }
  }
}




